html {
	margin: 0px;
	height: 100%;
	width: 100%;
}
body {
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    background-color: #eee;
}
.clear {
	clear: both;
}
