header {
    height: 120px;
    line-height: 120px;
    background-color: #006699;
}

.wrapper h1 {
    margin: 0;
    padding: 0;
    color: #eee;
    font-size: 30px;
    margin-left: 20px;
}

#content {
    margin-top: 20px;
}

.pad {
    width: 600px;
    margin-left: 20px;
    border: 1px solid #999;
    padding: 10px;
}

.pad .row {
    clear: left;
}

.pad .row .key, .pad .row .value {
    float: left;
    height: 30px;
    line-height: 30px;
}

.pad .row .key {
    width: 150px;
    font-weight: bold;
}

.pad .row .value {
    font-family: monospace;
}

input, select {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
    width: 200px;
}

.value .bbox {
    width: 60px;
}

.value lable {
    margin-right: 5px;
}

.value .y {
    margin-left: 20px;
}

.pad .opt_row {
    clear: left;
    margin-top: 40px;
}

input[type=submit] {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}