body{
padding:0px;
margin:0px;
background-color:#1A2024;
font-family:Arial;
}
a:hover{text-decoration:none;}


.ls_text
	{
		font-size:10px;
		line-height:5px;
		color:#7B8487;
		text-align: center;
	}

	
.c_text
	{
		font-size:10px;
		line-height:12px;
		color:#5B686F;
		text-align: center;
	}

.ls1_text
	{
		font-size:0.6em;
		color:#C3C5C6;
	}

.header{
	display:table;  
	margin-top:2%;
	margin-left:20px;
	font-size:3em;
	color:seashell;

}	
	
	
div#map {
	height:540px;
	width:700;
	float:left;
}	

#tabs0 {
 height: 100%;
 width: 100%;
}

.menu0{
 margin-left: -30px;
}

.menu0 li{
 display:block;
 float: left;
 padding: 4px;
 text-align:center;
 cursor:pointer;
 font-weight: bold;
 font-size:15px;
 color: #F5F5F5;
}

.menu0 li.hover{
 background: #7B8487;
}

#main0 ul{
 display: none;
}

#main0 ul.block{
 display: block;
}



.pad {
    width: 100%;
    padding: 0px;
	margin-left: -20px;
	color:#F5F5F5;
}

.pad .value {
    margin-left:6%;
	font-size:0.8em;
}

.input{
	font-size:0.8em;
    width:45%;
}

.information{
    float: left;
	font-size:12px;
	color: #F5F5F5;
}

.dropdown{
	font-size:0.80em;
}

.button{
	font-size:0.80em;
}

.hidden_bbox,.hidden_sbox,.hidden_pressure,.hidden_others{
	display:none;
}

.pad .key02 {
    float: left;
    height: 20px;
    line-height: 20px;
	font-size:10px;
	width: 100%;
    font-weight: bold;
}

.pad .break {
    float: left;
    height: 5px;
	width: 100%;
}

.checkbox{
	background:#ff0000;
}

.pad .key {
    font-weight: bold;
}

.pad .value {
    font-family: Arial;
}

.box {
    width: 28%;
    font-size:0.8em;
}

.boxCoords {
    font-size:1em;
    width:6em;
}

.y {
    margin-left: 20px;
}

.pad .opt_row {
    clear: left;
    margin-top: 40px;
}

input[type=submit] {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	text-align: center;
    background: rgba(250, 250, 250, 0.6);
}

.coordinate{
	margin-left: 30px;
	font-size:10px;
	line-height:5px;
	color:#7B8487;
	font-weight: bold;
}

.status{
    color:#DEDEDE;
}


.row  {
    float:left;
    display: block;
    width: 100%;
}

#date_list{
    width: 100%
}

.cyclone_tracks{
    position: relative;
    top: -0.5em;
}




	
	
