<!DOCTYPE html>
<html ng-app="testApp">
<head>
    <title>Complex Tests</title>
    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="ui-bootstrap-tpls-0.6.0.min.js"></script>
    <script type="text/javascript" src="test.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="test.css" rel="stylesheet"/>
</head>
<body ng-controller="TestCtrl">
    <div>Click on a test and wait for the message.</p>
    <div class="txt_wrapper">
        <textarea ng-model="xml" id="xmldata"></textarea>
    </div>
    <div class="btn_wrapper">
        <button class="btn btn-primary" ng-click="test1()">bbox-pressure</button>
        <button class="btn btn-primary" ng-click="test2()">date_list-bbox</button>
        <button class="btn btn-primary" ng-click="test3()">date_list-bbox-pressure</button>
        <button class="btn btn-primary" ng-click="test4()">date_list-pressure</button>
        <button class="btn btn-primary" ng-click="test5()">year_range-bbox</button>
        <button class="btn btn-primary" ng-click="test6()">year_range-bbox-pressure</button>
        <button class="btn btn-primary" ng-click="test7()">year_range-pressure</button>
        <button class="btn btn-primary" ng-click="test8()">year-bbox</button>
        <button class="btn btn-primary" ng-click="test9()">year-bbox-pressure</button>
        <button class="btn btn-primary" ng-click="test10()">year-pressure</button>
    </div>
    <div class="msg_wrapper">
        <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
    </div>
</body>
</html>
