div {
    margin-left: 20px;
    margin-right: 20px;
}

.txt_wrapper {
    margin-top: 20px;
}

.txt_wrapper textarea {
    width: 95%;
    height: 300px;
}

.msg_wrapper {
    margin-top: 10px;
    margin-left: 0px;
}

.btn_wrapper {
    line-height: 40px;
}